.agentInsert {
  text-align: center;
  padding-left: 400px;
  padding-bottom: 250px;
}

.formElement {
    width: 50%;
    text-align: center;
    margin: 3px 0;
}
.formSubmit {
    width: 100%;
    text-align: center;
}
.right {
    text-align: center;
}

.loginForm {
  text-align: center;
  padding: 60px;
}

.loginInput {
  padding: 8px;
}

.officeID {
  padding-left: 10px;
}

.allCompany {
  display: flex;
}

.formSubmit {
  padding-top: 5px;
  cursor: pointer;
}
